In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# Load data
df4 = pd.read_csv("ExportCSV_4.csv")
df2 = pd.read_csv("ExportCSV_2.csv")
df3 = pd.read_csv("ExportCSV_3.csv")

In [7]:
# Concatenate and show head
df = pd.concat([df4, df2, df3])
df.head(5)

,ID,VSLA,Savings,Location,Capacity,Averageage,Activity,ActivityCU,Male,Female,RateofLending,Year,Shareouts,Division
0,1,Muno,943000,Kamwyokya,30,33,Book making,5,12,18,Weekly,2018,1530691,NAKAWA
1,2,Binusu,970900,Bukoto,34,40,Maize Flour selling,3,12,22,Monthly,2018,2600264,NAKAWA
2,3,Zivamutunyo,3150800,Ntinda,31,38,Book making,5,7,24,Monthly,2018,4424193,NAKAWA
3,4,Mazima,1916000,Kisenyi,34,31,Book making,5,10,21,Monthly,2018,2454538,NAKAWA
4,5,Muda,3893700,Makindye,32,24,Mobile money,5,11,21,Monthly,2018,4369262,KAWEMPE

In [8]:
# Check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 19
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             60 non-null     int64
 1   VSLA           60 non-null     object
 2   Savings        60 non-null     int64
 3   Location       60 non-null     object
 4   Capacity       60 non-null     int64
 5   Averageage     60 non-null     int64
 6   Activity       60 non-null     object
 7   ActivityCU     60 non-null     int64
 8   Male           60 non-null     int64
 9   Female         60 non-null     int64
 10  RateofLending  60 non-null     object
 11  Year           60 non-null     int64
 12  Shareouts      60 non-null     int64
 13  Division       60 non-null     object
dtypes: int64(9), object(5)
memory usage: 7.0+ KB

In [9]:
# Check null count
df.isna().sum()

ID               0
VSLA             0
Savings          0
Location         0
Capacity         0
Averageage       0
Activity         0
ActivityCU       0
Male             0
Female           0
RateofLending    0
Year             0
Shareouts        0
Division         0
dtype: int64

In [10]:
df2['Activity']

0             Book making
1     Maize Flour selling
2             Book making
3             Book making
4            Mobile money
5             Book making
6            Mobile money
7     Silver fish selling
8             Book making
9             Book making
10    Maize Flour selling
11       Paper bag making
12           Mobile money
13          Art and Craft
14           Mobile money
15           Mobile money
16            Book making
17            Book making
18           Mobile money
19           Mobile money
Name: Activity, dtype: object

In [11]:
df['Location'].value_counts()

Bukoto       9
Kamwokya     9
Ntinda       6
Kisenyi      6
Wakaliga     6
Kamwyokya    3
Makindye     3
Buziga       3
Katwe        3
Nateete      3
Ggaba        3
Mutundwe     3
Kyengera     3
Name: Location, dtype: int64

In [14]:
# Check Rate of Lending
df['RateofLending'].value_counts()

Monthly    24
Weekly     21
Daily      15
Name: RateofLending, dtype: int64

## Data pre-processing
Categorical data - Encoded (One-hot vs Ordinal)  
Scale data

In [15]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.pipeline import make_pipeline

In [16]:
# Check columns
df.columns

Index(['ID', 'VSLA', 'Savings', 'Location', 'Capacity', 'Averageage',
       'Activity', 'ActivityCU', 'Male', 'Female', 'RateofLending', 'Year',
       'Shareouts', 'Division'],
      dtype='object')

In [17]:
df= df.fillna(0)

In [18]:
df.head(3)

,ID,VSLA,Savings,Location,Capacity,Averageage,Activity,ActivityCU,Male,Female,RateofLending,Year,Shareouts,Division
0,1,Muno,943000,Kamwyokya,30,33,Book making,5,12,18,Weekly,2018,1530691,NAKAWA
1,2,Binusu,970900,Bukoto,34,40,Maize Flour selling,3,12,22,Monthly,2018,2600264,NAKAWA
2,3,Zivamutunyo,3150800,Ntinda,31,38,Book making,5,7,24,Monthly,2018,4424193,NAKAWA

In [19]:
# Select X and y
# y = df['Shareouts']
y = df['Shareouts']
X = df.drop(['ID', 'VSLA', 'Division'], axis=1)

In [20]:
X.head()

,Savings,Location,Capacity,Averageage,Activity,ActivityCU,Male,Female,RateofLending,Year,Shareouts
0,943000,Kamwyokya,30,33,Book making,5,12,18,Weekly,2018,1530691
1,970900,Bukoto,34,40,Maize Flour selling,3,12,22,Monthly,2018,2600264
2,3150800,Ntinda,31,38,Book making,5,7,24,Monthly,2018,4424193
3,1916000,Kisenyi,34,31,Book making,5,10,21,Monthly,2018,2454538
4,3893700,Makindye,32,24,Mobile money,5,11,21,Monthly,2018,4369262

In [21]:
# le = LabelEncoder()
# le.fit(df['Location'].values)
# le.classes_
# le.transform(df['Location'].values)

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Savings        60 non-null     int64
 1   Location       60 non-null     object
 2   Capacity       60 non-null     int64
 3   Averageage     60 non-null     int64
 4   Activity       60 non-null     object
 5   ActivityCU     60 non-null     int64
 6   Male           60 non-null     int64
 7   Female         60 non-null     int64
 8   RateofLending  60 non-null     object
 9   Year           60 non-null     int64
 10  Shareouts      60 non-null     int64
dtypes: int64(8), object(3)
memory usage: 5.6+ KB

In [23]:
# Convert year into a categorical column
X['Year'] = X['Year'].astype(object)

In [24]:
# Confirm types
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Savings        60 non-null     int64
 1   Location       60 non-null     object
 2   Capacity       60 non-null     int64
 3   Averageage     60 non-null     int64
 4   Activity       60 non-null     object
 5   ActivityCU     60 non-null     int64
 6   Male           60 non-null     int64
 7   Female         60 non-null     int64
 8   RateofLending  60 non-null     object
 9   Year           60 non-null     object
 10  Shareouts      60 non-null     int64
dtypes: int64(7), object(4)
memory usage: 5.6+ KB

In [25]:
# Select numerical and categorical columns
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [26]:
cat_selector(X)

['Location', 'Activity', 'RateofLending', 'Year']

In [27]:
# Scaler and onehot encorder objects
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

In [28]:
# Make pipelines
num_pipeline = make_pipeline(scaler)
cat_pipeline = make_pipeline(ohe)
# num_pipeline = make_pipeline(scaler, num_selector)
# cat_pipeline = make_pipeline(ohe, cat_selector)

In [29]:
# Transform columns
number_tuple = (num_pipeline, num_selector)
cat_tuple = (cat_pipeline, cat_selector)


# Colummn transformer
preprocessor = make_column_transformer(number_tuple, cat_tuple)
# preprocessor = make_column_transformer(num_pipeline, cat_pipeline)

In [30]:
# Split train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3453, test_size=0.15)

In [31]:
# Fit preprocessor
preprocessor.fit(X_train)

ColumnTransformer(transformers=[('pipeline-1',
                                 Pipeline(steps=[('standardscaler',
                                                  StandardScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x00000237F57D51F0>),
                                ('pipeline-2',
                                 Pipeline(steps=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x00000237F1E4D3D0>)])

In [32]:
# Tranform data
X_train = preprocessor.transform(X_train)
X_test = preprocessor.transform(X_test)

In [33]:
X_train

array([[ 1.03679533, -0.03349186,  0.27949137, ...,  0.        ,
         1.        ,  0.        ],
       [-0.98389587, -1.74157696, -0.64609694, ...,  0.        ,
         0.        ,  1.        ],
       [-0.88905   , -0.88753441, -0.18330278, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-1.03894594,  1.67459323, -0.8312146 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.39842122, -0.03349186,  0.27949137, ...,  1.        ,
         0.        ,  0.        ],
       [-1.10243358, -0.88753441,  0.18693254, ...,  0.        ,
         0.        ,  1.        ]])

In [34]:
from sklearn.linear_model import LinearRegression

# Instantiate model
lr = LinearRegression()

# Fit the model
lr.fit(X_train, y_train)

LinearRegression()

In [35]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor


# Instantiate models
dec_tree = DecisionTreeRegressor(random_state=576)
rf = RandomForestRegressor(random_state=7668)
xg = GradientBoostingRegressor(random_state=87879)


# Fit the models
dec_tree.fit(X_train, y_train)
rf.fit(X_train, y_train)
xg.fit(X_train, y_train)

GradientBoostingRegressor(random_state=87879)

In [36]:
# rf.get_params()

In [37]:
# MAke predictions
preds = lr.predict(X_test)
preds_dt = dec_tree.predict(X_test)
preds_rf = rf.predict(X_test)
preds_xg = xg.predict(X_test)

### Evaluation

In [38]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# Standard metrics for regression

In [39]:
print(f'{mean_absolute_error(y_test, preds)}')
print(f'{mean_absolute_error(y_test, preds_dt)}')
print(f'{mean_absolute_error(y_test, preds_rf)}')
print(f'{mean_absolute_error(y_test, preds_xg)}')

4.811833302179973e-09
80017.66666666667
88198.51666666666
95338.35109918735

In [40]:
print(f'{mean_squared_error(y_test, preds)}')
print(f'{mean_squared_error(y_test, preds_dt)}')
print(f'{mean_squared_error(y_test, preds_rf)}')
print(f'{mean_squared_error(y_test, preds_xg)}')

4.7680802207751405e-17
13450674446.777779
16021952013.305342
50332755862.78284

In [41]:
print(f'{mean_squared_error(y_test, preds, squared=False)}')

6.905128688717641e-09

In [42]:
print(f'LR: {r2_score(y_test, preds)}')
print(f'DT: {r2_score(y_test, preds_dt)}')
print(f'RF: {r2_score(y_test, preds_rf)}')
print(f'RF: {r2_score(y_test, preds_xg)}')

LR: 1.0
DT: 0.9954139395698107
RF: 0.994537252356129
RF: 0.9828388486452453

In [92]:
y_test

5     3108414
8     5035000
8     4035032
8      535032
19    3956200
12    3492465
0      630691
4      960262
19     396251
Name: Shareouts, dtype: int64

In [44]:
df['Shareouts']

0     1530691
1     2600264
2     4424193
3     2454538
4     4369262
5     3108414
6     3350116
7     3034155
8     4035032
9     4743793
10    2476034
11    3130765
12    3492465
13    4359696
14    3916523
15    2344669
16    1027837
17    4292945
18    3874975
19    3956251
0     2530600
1     2600200
2     4424100
3     3454500
4     5369200
5     4108400
6     5350100
7     4034100
8     5035000
9     6743700
10    6476000
11    4130700
12    5492400
13    5359600
14    4916500
15    3344600
16    1727800
17    5092900
18    3874900
19    3956200
0      630691
1      500264
2     1204100
3      904538
4      960262
5     1208414
6     1720116
7      514155
8      535032
9      343793
10     276034
11     930765
12     692465
13     459696
14      16523
15          0
16     200000
17     422945
18     384975
19     396251
Name: Shareouts, dtype: int64

In [93]:
df4.head()

,ID,VSLA,Savings,Location,Capacity,Averageage,Activity,ActivityCU,Male,Female,RateofLending,Year,Shareouts,Division
0,1,Muno,943000,Kamwyokya,30,33,Book making,5,12,18,Weekly,2018,1530691,NAKAWA
1,2,Binusu,970900,Bukoto,34,40,Maize Flour selling,3,12,22,Monthly,2018,2600264,NAKAWA
2,3,Zivamutunyo,3150800,Ntinda,31,38,Book making,5,7,24,Monthly,2018,4424193,NAKAWA
3,4,Mazima,1916000,Kisenyi,34,31,Book making,5,10,21,Monthly,2018,2454538,NAKAWA
4,5,Muda,3893700,Makindye,32,24,Mobile money,5,11,21,Monthly,2018,4369262,KAWEMPE

In [94]:
# df4 = df4.fillna(df['Activity'].mode()[0])
df4['Year'] = df4['Year'].astype('object')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   VSLA           20 non-null     object
 2   Savings        20 non-null     int64
 3   Location       20 non-null     object
 4   Capacity       20 non-null     int64
 5   Averageage     20 non-null     int64
 6   Activity       20 non-null     object
 7   ActivityCU     20 non-null     int64
 8   Male           20 non-null     int64
 9   Female         20 non-null     int64
 10  RateofLending  20 non-null     object
 11  Year           20 non-null     object
 12  Shareouts      20 non-null     int64
 13  Division       20 non-null     object
dtypes: int64(8), object(6)
memory usage: 2.3+ KB

In [97]:
df4.columns

Index(['ID', 'VSLA', 'Savings', 'Location', 'Capacity', 'Averageage',
       'Activity', 'ActivityCU', 'Male', 'Female', 'RateofLending', 'Year',
       'Shareouts', 'Division'],
      dtype='object')

In [112]:
X_features = df4.drop(['ID', 'VSLA', 'Division'], axis=1)

In [106]:
y_values = df4['Shareouts']
y_values

0     1530691
1     2600264
2     4424193
3     2454538
4     4369262
5     3108414
6     3350116
7     3034155
8     4035032
9     4743793
10    2476034
11    3130765
12    3492465
13    4359696
14    3916523
15    2344669
16    1027837
17    4292945
18    3874975
19    3956251
Name: Shareouts, dtype: int64

In [113]:
X_features

,Savings,Location,Capacity,Averageage,Activity,ActivityCU,Male,Female,RateofLending,Year,Shareouts
0,943000,Kamwyokya,30,33,Book making,5,12,18,Weekly,2018,1530691
1,970900,Bukoto,34,40,Maize Flour selling,3,12,22,Monthly,2018,2600264
2,3150800,Ntinda,31,38,Book making,5,7,24,Monthly,2018,4424193
3,1916000,Kisenyi,34,31,Book making,5,10,21,Monthly,2018,2454538
4,3893700,Makindye,32,24,Mobile money,5,11,21,Monthly,2018,4369262
5,2523200,Kamwokya,33,43,Book making,5,10,23,Daily,2018,3108414
6,2621347,Ntinda,33,26,Mobile money,5,9,24,Weekly,2018,3350116
7,2995593,Buziga,32,58,Silver fish selling,3,10,22,Weekly,2018,3034155
8,3912192,Katwe,32,23,Book making,5,11,11,Daily,2018,4035032
9,3716612,Kamwokya,31,42,Book making,5,7,24,Daily,2018,4743793
10,1916747,Wakaliga,32,54,Maize Flour selling,3,7,25,Daily,2018,2476034
11,2902295,Nateete,30,33,Paper bag making,2,8,22,Daily,2018,3130765
12,3916002,Ggaba,33,54,Mobile money,5,10,23,Weekly,2018,3492465
13,3369231,Mutundwe,31,22,Art and Craft,4,6,25,Weekly,2018,4359696
14,2914242,Bukoto,33,42,Mobile money,5,7,25,Monthly,2018,3916523
15,3235007,Kamwokya,32,48,Mobile money,5,7,24,Monthly,2018,2344669
16,881326,Bukoto,33,30,Book making,5,10,23,Monthly,2018,1027837
17,3067621,Wakaliga,32,43,Book making,5,6,26,Monthly,2018,4292945
18,3366308,Kisenyi,31,57,Mobile money,5,6,26,Weekly,2018,3874975
19,2896032,Kyengera,31,39,Mobile money,5,6,24,Weekly,2018,3956251

In [114]:
X_features_on_processing = preprocessor.transform(X_features)

In [116]:
new_preds = rf.predict(X_features_on_processing)
# X_features.head(5)

In [105]:
# X_features_processed

In [110]:
# y_values
# X_features

In [64]:
# res = pd.DataFrame({"Actual": y_values, "Predicted":new_preds})
# X = df4.iloc[:, :34].values
# X

In [117]:
res = pd.DataFrame({"Actual": y_values, "Predicted":new_preds})

In [118]:
res.head()

    Actual   Predicted
0  1530691  1613934.68
1  2600264  2512931.81
2  4424193  4401102.12
3  2454538  2431673.81
4  4369262  4375238.46

In [119]:
res["Difference"] = res["Actual"] - res["Predicted"]
res

     Actual   Predicted  Difference
0   1530691  1613934.68   -83243.68
1   2600264  2512931.81    87332.19
2   4424193  4401102.12    23090.88
3   2454538  2431673.81    22864.19
4   4369262  4375238.46    -5976.46
5   3108414  3288204.27  -179790.27
6   3350116  3363785.04   -13669.04
7   3034155  3180677.81  -146522.81
8   4035032  4076790.86   -41758.86
9   4743793  4750608.70    -6815.70
10  2476034  2466461.08     9572.92
11  3130765  3209859.73   -79094.73
12  3492465  3342163.08   150301.92
13  4359696  4362255.60    -2559.60
14  3916523  3916876.57     -353.57
15  2344669  2541744.78  -197075.78
16  1027837  1032816.95    -4979.95
17  4292945  4311915.97   -18970.97
18  3874975  3887765.96   -12790.96
19  3956251  3939815.80    16435.20

In [130]:
# Saving model
import pickle
pickle.dump(rf, open("my_rand_forest_reg.pickle", 'wb'))

In [131]:
# Load model
loaded_model = pickle.load(open("my_rand_forest_reg.pickle", 'rb'))

In [132]:
loaded_model.predict(X_features_on_processing)

array([1613934.68, 2512931.81, 4401102.12, 2431673.81, 4375238.46,
       3288204.27, 3363785.04, 3180677.81, 4076790.86, 4750608.7 ,
       2466461.08, 3209859.73, 3342163.08, 4362255.6 , 3916876.57,
       2541744.78, 1032816.95, 4311915.97, 3887765.96, 3939815.8 ])

In [134]:

df4.to_csv('myvslaz.csv')